@import '../../styles/variables';

$transition: 0.25s ease;

.dogEar {
    position: relative;
    --hover-grow: 0px;

    &:hover {
        --hover-grow: 20px;
    }

    &[data-corner='bottom-right'] {
        .inner {
            /* noinspection CssInvalidPropertyValue */
            clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - var(--size) - var(--hover-grow)), calc(100% - var(--size) - var(--hover-grow)) 100%, 0% 100%);
        }

        .triangle {
            bottom: 0;
            right: 0;
            clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
        }
    }

    &[data-corner='bottom-left'] {
        .inner {
            /* noinspection CssInvalidPropertyValue */
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, calc(var(--size) + var(--hover-grow)) 100%, 0% calc(100% - var(--size) - var(--hover-grow)));
        }

        .triangle {
            bottom: 0;
            left: 0;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
        }
    }

    &[data-corner='top-right'] {
        .inner {
            /* noinspection CssInvalidPropertyValue */
            clip-path: polygon(0% 0%, calc(100% - var(--size) - var(--hover-grow)) 0%, 100% calc(var(--size) + var(--hover-grow)), 100% 100%, 0% 100%);
        }

        .triangle {
            top: 0;
            right: 0;
            clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
        }
    }

    &[data-corner='top-left'] {
        .inner {
            /* noinspection CssInvalidPropertyValue */
            clip-path: polygon(calc(var(--size) + var(--hover-grow)) 0%, 100% 0%, 100% 100%, 0% 100%, 0% calc(var(--size) + var(--hover-grow)));
        }

        .triangle {
            top: 0;
            left: 0;
            clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
        }
    }
}

.shadow {
    @include shadow;
}

.inner {
    transition: clip-path $transition;
}

.triangle {
    position: absolute;
    width: calc(var(--size) + var(--hover-grow));
    height: calc(var(--size) + var(--hover-grow));
    background: white;
    pointer-events: none;
    z-index: 10;
    transition: width $transition, height $transition;
}

