.dogEar {
    position: relative;

    &[data-corner='bottom-right'] {
        .inner {
            clip-path: polygon(
                0% 0%,
                100% 0%,
                100% calc(100% - var(--size)),
                calc(100% - var(--size)) 100%,
                0% 100%
            );
        }

        .triangle {
            bottom: 0;
            right: 0;
            clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
        }
    }

    &[data-corner='bottom-left'] {
        .inner {
            clip-path: polygon(
                0% 0%,
                100% 0%,
                100% 100%,
                var(--size) 100%,
                0% calc(100% - var(--size))
            );
        }

        .triangle {
            bottom: 0;
            left: 0;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
        }
    }

    &[data-corner='top-right'] {
        .inner {
            clip-path: polygon(
                0% 0%,
                calc(100% - var(--size)) 0%,
                100% var(--size),
                100% 100%,
                0% 100%
            );
        }

        .triangle {
            top: 0;
            right: 0;
            clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
        }
    }

    &[data-corner='top-left'] {
        .inner {
            clip-path: polygon(
                var(--size) 0%,
                100% 0%,
                100% 100%,
                0% 100%,
                0% var(--size)
            );
        }

        .triangle {
            top: 0;
            left: 0;
            clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
        }
    }
}

.triangle {
    position: absolute;
    width: var(--size);
    height: var(--size);
    background: white;
    pointer-events: none;
}
