@import '../../styles/variables';

.card {
    background: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.date {
    @include date;
}

.cardMain {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    @media (max-width: $breakpoint-xs-max) {
        flex-direction: column;
    }
}

.cover {
    flex-shrink: 0;
    width: 108px;
    height: 74px;
    overflow: hidden;
}

.coverImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coverPlaceholder {
    width: 108px;
    height: 74px;
    background: #ddd;
}

.cardTitle {
    @include subtitle;
}

.description {
    @include body-text;
    max-width: 600px;

    p {
        font-size: 17px;
    }
}
