.container {
    position: fixed;
    inset: 0;
    display: grid;
    gap: 1px;
    background: rgba(200, 200, 200, 1);
    pointer-events: none;
    visibility: hidden;
    z-index: 0;
    overflow: hidden;
}

.cell {
    position: relative;
    overflow: hidden;
    background: black;
}

.fill {
    position: absolute;
    inset: 0;
    background: #EFEFEF;
    will-change: transform;
}
