@import '../../styles/variables';

.section {
    align-self: flex-start;
}

.body {
    background: white;
    @include shadow;
    padding: 30px;
}

.content {
    @include body-text;
    max-width: 520px;

    p {
        font-size: 17px;
    }
}
