@import '../../styles/variables';

.section {
    align-self: flex-start;
}

.body {
    background: var(--bg-container);
    color: var(--text-color);
    @include shadow;
    padding: var(--padding-content-box);
    padding-top: calc(var(--padding-content-box) * 2);
}

.content {
    @include body-text;

    p {
        strong {
            @include perex;
            line-height: 130%;
        }
    }
}
