@import '../../styles/variables';

.section {
    align-self: flex-start;
}

.body {
    background: white;
    @include shadow;
    padding: var(--padding-content-box);
    padding-top: calc(var(--padding-content-box) * 2);
    //max-width: calc(540px + 2 * 30px);
}

.content {
    @include body-text;

    p {
        strong {
            @include perex;
            line-height: 130%;
        }
    }
}
