@import '../../styles/variables';

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    z-index: 999;
    padding: 50px 0 50px;
    overflow-y: clip;

    .menuItem {
        @include subtitle;
        text-decoration: none;
    }
}

.top {
    display: flex;
    gap: 36px;
    padding: 20px 60px 15px 40px;
    background: $grey;
    @include shadow;

    .langSwitch {
        width: 1.1em;
    }

    .social {
        display: flex;
        gap: 12px;
    }

    a, .contact {
        @include date;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-decoration-color: black;
            text-underline-offset: 3px;
        }
    }

    .contact {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        color: inherit;
    }
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .logo {
        position: relative;
        z-index: 4;
        background: white;
        @include shadow;

        .logoImage {
            padding: 5px 40px 30px;
            display: block;
            width: 30em;
            height: auto;
        }
    }

    .menu {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        > :nth-child(1) { z-index: 3; }
        > :nth-child(2) { position: relative; z-index: 2; }
        > :nth-child(3) { z-index: 1; }
    }

    .menuItem {
        display: block;
        @include subtitle;
        padding: 20px 60px 15px 40px;
    }

    .item1 {
        background: $blue;
    }
    .item2 {
        background: $swamp;
    }
    .item3 {
        background: $red;
    }
}

