@import '../../styles/variables';

.nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 100;
    padding: 50px 0;

    a {
        @include subtitle;
        text-decoration: none;
    }
}

.top {
    align-self: flex-start;
    display: flex;
    gap: 50px;
    padding: 20px 40px 15px 40px;
    background: $grey;
    @include shadow;

    .langSwitch {
        width: 1.1em;
    }

    .social {
        display: flex;
        gap: 18px;
    }
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .logo {
        position: relative;
        z-index: 4;
        background: white;
        @include shadow;

        .logoImage {
            padding: 5px 40px 30px;
            display: block;
            width: 35em;
            height: auto;
        }
    }

    .menu {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        > :nth-child(1) { z-index: 3; }
        > :nth-child(2) { position: relative; z-index: 2; }
        > :nth-child(3) { z-index: 1; }
    }

    .menuItem {
        @include subtitle;
    }

    .item1 {
        background: $blue;
        padding: 20px 60px 15px 40px;
    }
    .item2 {
        background: $swamp;
        padding: 20px 40px 15px 40px;
        @include shadow;
    }
    .item3 {
        background: $red;
        padding: 20px 60px 15px 40px;
    }


}

