@import '../../styles/variables';

.button {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: none;
}

.icon {
    width: 28px;
    height: 28px;
    transition: filter 0.4s ease;
}