@import '../../styles/variables';

.button {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: none;
    margin-left: -5px;
}

.icon {
    width: 20px;
    height: 20px;

    transition: transform 0.3s ease, filter 0.4s ease;

    @media (hover: hover) {
        &:hover {
            transform: rotate(90deg);
        }
    }
}