@import '../../styles/variables';

.wrap {
    display: flex;
    flex-direction: column;
    padding-left: var(--padding-body-left);
    align-items: center;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 120px var(--layout-padding-x) 60px var(--layout-padding-x);
    width: 1000px;
    max-width: 100%;
    pointer-events: auto;
    text-align: center;
}

.title {
    font-size: 48px;
    font-weight: 600;
}

.description {
    font-size: 18px;
    opacity: 0.8;
}

.link {
    align-self: center;
    text-decoration: underline;
    font-size: 18px;
}
