@import '../../styles/variables';

.wrap {
    display: flex;
    flex-direction: column;
    padding-left: 510px;
    align-items: center;

    @media (max-width: $breakpoint-lg-max) {
        padding-left: 425px;
    }
    @media (max-width: $breakpoint-md-max) {
        padding-left: 0;
    }
}


.page {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 0 var(--layout-padding-x) 20px var(--layout-padding-x);
    width: 1000px;
    max-width: 100%;
    pointer-events: auto;

    @media (max-width: $breakpoint-md-max) {
        gap: var(--layout-padding-x);
    }
}
