@import '../../styles/variables';

.page {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 50px 60px 80px;
    width: 1000px;
    max-width: calc(100vw - 560px);
    margin-left: auto;
    pointer-events: auto;
}
