@import '../../styles/variables';

.wrap {
    display: flex;
    flex-direction: column;
    padding-left: var(--padding-body-left);
    align-items: center;
}


.page {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 0 var(--layout-padding-x) 20px var(--layout-padding-x);
    max-width: 1000px;
    width: 100%;
    pointer-events: auto;

    @media (max-width: $breakpoint-md-max) {
        gap: var(--layout-padding-y);
        max-width: 800px;
    }
}
