@import '../../styles/variables';

.fieldItem {
    background: white;
    @include shadow;
    padding: 30px 30px 30px 20px;
    display: flex;
    gap: 10px;
    align-items: flex-start;

    @media (max-width: $breakpoint-xs-max) {
        flex-direction: column;
    }

    &:first-child {
        padding-top: 50px;
    }
}

.fieldIcon {
    width: 70px;
    height: 50px;
    flex-shrink: 0;
    object-fit: contain;
}

.fieldContent {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fieldTitle {
    @include subtitle;
}

.fieldBody {
    @include body-text;
    max-width: 600px;

    p {
        font-size: 17px;
    }
}
