@import '../../styles/variables';


.fieldItem {
    background: white;
    @include shadow;
    padding: var(--padding-content-box);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    &.firstItem {
        padding-top: calc(var(--padding-content-box) * 2);
    }
}

.itemMain {
    display: flex;
    gap: 16px;
    align-items: flex-start;

    @media (max-width: $breakpoint-xs-max) {
        flex-direction: column;
    }
}

.iconWrapper {
    flex-shrink: 0;
    height: 74px;
    width: 108px;
    background: $greyText;
    margin-top: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.fieldIcon {
    height: 50px;
    object-fit: contain;
}

.fieldTitle {
    @include subtitle;
}

.fieldBody {
    @include body-text;

    p {
        font-size: 17px;
    }
}
