@import '../../styles/variables';

.card {
    background: white;
    @include shadow;
    padding: 30px;
    cursor: pointer;

    &:first-child {
        padding-top: 50px;
    }
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.date {
    @include date;
}

.cardMain {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    padding-bottom: 8px;
}

.cover {
    flex-shrink: 0;
    width: 88px;
    height: 74px;
    overflow: hidden;
}

.coverImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coverPlaceholder {
    width: 88px;
    height: 74px;
    background: #ddd;
}

.cardTitle {
    @include subtitle;
}

.description {
    @include body-text;
    max-width: 600px;

    p {
        @include body-text;
    }
}
