@import '../../styles/variables';

.section {
    position: relative;
    isolation: isolate;
    scroll-margin-top: 50px;

    @media (max-width: $breakpoint-md-max) {
        scroll-margin-top: 100px;
    }

    @media (max-width: $breakpoint-sm-max) {
        scroll-margin-top: 130px;
    }
}

.headerReveal {
    visibility: hidden;
    position: relative;
    z-index: 2;
    margin-bottom: -20px;
}

.header {
    display: inline-block;
    max-width: 95%;
    @include shadow;
}

.headerContent {
    padding: var(--padding-big-box);
    display: block;

    &[data-color='blue']  { background: var(--color-blue); }
    &[data-color='swamp'] { background: var(--color-swamp); }
    &[data-color='red']   { background: var(--color-red); }
}

.title {
    @include title;
    margin-left: -0.05em;
    word-break: break-word;
}

.subtitle {
    @include body-text;
    white-space: pre-line;
    margin-bottom: 20px;
}

.body {
    position: relative;
    z-index: 1;
}
