$layout-padding-x: 30px;
$layout-padding-top: 50px;

$breakpoint-xs-max: 575px;
$breakpoint-sm-min: 576px;
$breakpoint-sm-max: 767px;
$breakpoint-md-min: 768px;
$breakpoint-md-max: 991px;
$breakpoint-lg-min: 992px;
$breakpoint-lg-max: 1199px;
$breakpoint-xl-min: 1200px;
$breakpoint-xl-max: 1399px;
$breakpoint-xxl-min: 1400px;

$text-secondary-default: #A4A4A4;
$text-primary-default: #000;

$blue: #9BB5E1;
$swamp: #B0A421;
$red: #FF2000;
$brown: #744428;
$green: #3bff0e;
$grey: #C1C1C1;



@mixin shadow {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.15));
}

@mixin title {
  font-family: 'AnoAngular', sans-serif;
  font-size: 75px;
  line-height: 100%;
  font-weight: 300;
  letter-spacing: -0.02em;
  //-webkit-text-stroke: 1px currentColor;
  paint-order: stroke fill;
}

@mixin subtitle {
  font-family: 'AnoAngular', sans-serif;
  font-size: 42px;
  line-height: 110%;
  font-weight: 300;
  //-webkit-text-stroke: 2px currentColor;
  paint-order: stroke fill;
}

@mixin body-text {
  font-family: 'cy', serif;
  font-size: 17px;
  line-height: 130%;
  font-weight: 600;
}

@mixin perex {
  font-family: 'cy', serif;
  font-size: 26px;
  line-height: 120%;
  font-weight: 600;
}

@mixin date {
  font-family: var(--font-geist-mono), monospace;
  font-size: 15px;
  line-height: 110%;
  font-weight: 400;
  letter-spacing: 0.06em;
}