@import '_variables.scss';
@import '_fonts.scss';

:root {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: -apple-system, 'Helvetica Neue', 'Arial', sans-serif;

  font-size: 17px;
  text-rendering: optimizeLegibility;
  line-height: 1.38;
  color: black;
}

html {
  scroll-behavior: smooth;
  --layout-padding-x: 30px;
  --bg: #EFEFEF;
  --toggle-container-bg: black;
  --toggle-icon-filter: invert(1);
  --footer-text: black;

  @media (max-width: $breakpoint-lg-max) {
    --layout-padding-x: 20px;
  }

  @media (max-width: $breakpoint-md-max) {
    --layout-padding-x: 18px;
  }

  @media (max-width: $breakpoint-xs-max) {
    --layout-padding-x: 14px;
  }

  &[data-theme="dark"] {
    --bg: black;
    --toggle-container-bg: white;
    --toggle-icon-filter: invert(0);
    --footer-text: white;
  }
}

html,
body {
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  color: black;
  transition: background 0.5s ease;
  background: var(--bg);
}

body {
  -webkit-overflow-scrolling: touch;
  height: auto;
  overflow: scroll;
  max-width: 100vw;

  &::before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: 0;
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    //background-size: 15px 15px;
    //background-size: 31px 31px;
    background-size: 100px 150px;
    pointer-events: none;
  }
}


main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  position: relative;
  pointer-events: none;
}

a {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: black;
  text-underline-offset: 1px;
  @media (hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }
}

* {
  box-sizing: border-box;
}

::selection {
  background: $grey;
}

* {
  scrollbar-color: var(--toggle-container-bg) transparent;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: black;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

h1,
h2,
h3 {
  font-size: 1em;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

figure {
  margin: 0
}

