@import '../../styles/variables';

.title {
  @include title;
}

.fields {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.fieldIcon {
  height: 50px;
  object-fit: contain;
  filter: var(--icon-filter);
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dateGroup {
  display: flex;
  align-items: center;
  gap: 12px;
}

.badge {
  @include date;
  display: inline-block;
  color: var(--bg-container);
  background: var(--text-color);
  padding: 6px 10px;
}

.date {
  @include date;
}

.metaRow {
  @include date;
  display: flex;
  column-gap: 20px;
  align-items: flex-start;
}

.metaLabel {
  width: 90px;
  flex-shrink: 0;
}

.metaValue {
  display: flex;
  flex-direction: column;
  gap: 4px;
  a {
    color: black;
  }

  p {
    @include date;
    margin: 0;
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.perex {
  @include perex;
  max-width: 800px;
}

.description {
  @include body-text;
  p {
    margin-bottom: 8px;
  }
  :not(:first-child) {
    //text-indent: 20px;
  }
}

.gallery {
  display: flex;
  gap: 13px;
  overflow-x: auto;
}

.galleryImage {
  height: 350px;
  width: auto;
  flex-shrink: 0;
  object-fit: cover;
}
